.preview {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

.preview h2 {
    margin-bottom: 10px;
}

.preview .experience-item,
.preview .education-item {
    margin-bottom: 15px;
}

.general-information {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.general-information h2 {
    margin-bottom: 0px;
}

.experience h3 {
    border-bottom: 1px solid white;
}

.education h3 {
    border-bottom: 1px solid white;
}
